/* استایل برای هدر */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* استایل برای فوتر */
footer {
    background-color: #222;
    color: white;
    padding: 10px;
    text-align: center;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links li a {
    color: white;
    text-decoration: none;
}
